<div class="wrapper">
  <div *ngIf="loading" class="spinner-border" role="status">
    <span class="sr-only">Loading...</span>
  </div>
  <div *ngIf="!loading" class="card" style="width: 50%">
    <div class="card-header">Chucknorris Jokes</div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">{{ joke?.value }}</li>
      <li class="list-group-item">
        Time of publish: {{ joke?.created_at | date: "short" }}
      </li>
    </ul>
    <a class="btn btn-info" (click)="nextJoke()">Next Joke</a>
  </div>
</div>
